@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

body{
    font: var(--font-m);


}
.app {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
