.app_dark_theme {
    --primary-color: #eaeaea;
    --secondary-color: #f1f1f1;
    --bg-color: #3b3b3b;
    --inverted-bg-color: #000080;
    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #ffffff;
}
