.app_light_theme {
    --primary-color: #000080;
    --secondary-color: #004379;
    --bg-color: #ffffff;
    --inverted-bg-color: #000080;
    --inverted-primary-color: #000000;
    --inverted-secondary-color: #7a7979;
}
